@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background: linear-gradient(
    90deg,
    rgba(15, 230, 104, 0.74) 0%,
    rgb(77, 230, 191) 100%
  );
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 520px;
  min-height: 600px;
  background: rgb(16, 34, 27, 0.8);
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 5px;
  border: 2px solid rgba(22, 235, 68, 0.856);
  outline: none;
  min-width: 80%;
  background: transparent;
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffffb9;
}

.todo-button {
  padding: 8px 16px;
  border-radius: 8px;
  margin: auto;
  border: none;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(20, 255, 12, 0.849) 0%,
    rgba(82, 255, 97, 0.63) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid rgba(255, 12, 12, 0.445);
  border-radius: 5px;
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 12, 0.445) 0%,
    rgba(250, 51, 51, 0.575) 100%
  );
  padding: 8px 16px;
  border-radius: 8px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(20, 255, 12, 0.849) 0%,
    rgba(82, 255, 97, 0.63) 100%
  );
  padding: 16px;
  border-radius: 10px;
  min-width: 80%;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}


/* mobile */

@media only screen and (max-width: 530px) {
  .todo-app {
    width: 450px;
    min-height: screen;
    display: flex;
    justify-items: center;
    align-items: center;
  }
  
}


@media only screen and (max-width: 470px) {
  .todo-app {
    width: 400px;
  }
}

@media only screen and (max-width: 410px) {
  .todo-app {
    width: 350px;
  }
}

@media only screen and (max-width: 375px) {
  .todo-app {
    margin-top: 10%;
  }
}


@media only screen and (max-width: 360px) {
  .todo-app {
    width: 300px;
  }

  .todo-input {
    min-width: 250px;
}
}

@media only screen and (max-width: 310px) {
  .todo-app {
    width: 250px;
  }

  .todo-input {
    min-width: 200px;
}
}